<!-- start: FOOTER -->
<div class="footer-inner">

  <div class="pull-left">
    <span class="current-year">&copy;{{::app.year}}</span>
    <span class="text-bold text-uppercase">AALAS</span>. <span>All rights reserved | &nbsp;</span>
  </div>
  <div>
    <span><a target="_blank" href="/images/LicenseAgreement.pdf">TERMS & CONDITIONS</a></span>
  </div>
  <div>
    Contact the AALAS Office: <span><a href="mailto:onlinelearning@aalas.org">onlinelearning@aalas.org</a></span> or
    901-754-8620
    <span class="go-top pull-right" ng-click="toTheTop()"><i class="ti-angle-up"></i></span>
  </div>
</div>
<!-- end: FOOTER -->