<!-- start: FOOTER -->
<div class="footer-inner">

  <div class="pull-left">
    <span class="current-year">&copy;{{::app.year}}</span>
    <span class="text-bold text-uppercase">AALAS</span>. <span>All rights reserved | &nbsp;</span>
  </div>
  <div>
    <span class="copyright">Powered by Lovespite, <b style="color: rgb(243, 106, 106);">for internal use
        only.</b></span>
    <span class="go-top pull-right" ng-click="toTheTop()"><i class="ti-angle-up"></i></span>
  </div>
</div>
<!-- end: FOOTER -->