<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a href="#" class="btn-navbar sidebar-toggle sidebar-mobile-toggler pull-left hidden-md hidden-lg"
      ng-click="toggle('sidebar')"><i class="ti-align-justify"></i> </a>
    <a class="navbar-brand pull-left" ui-sref="app.dashboard"><img src="/assets/images/logo.png"
        alt="AALAS Learning Library"> </a>
    <a href="#" class="btn-navbar sidebar-toggle navbar-left visible-md visible-lg"
      ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed"><i class="ti-align-justify"></i> </a>
    <a class="btn btn-navbar pull-left menu-toggler visible-xs-block" id="menu-toggler"
      ng-click="navbarCollapsed = !navbarCollapsed"><span class="sr-only">Toggle navigation</span> <i
        class="ti-view-grid"></i></a>
  </div>
  <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true"
    off-click="navbarCollapsed = true" off-click-if="!navbarCollapsed" off-click-filter="#menu-toggler">
    <ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header"
      data-ct-fullheight-if="isSmallDevice">

      <li class="dropdown current-user" uib-dropdown on-toggle="toggled(open)">
        <a class="dropdown-toggle" uib-dropdown-toggle><span>Lovespite</span> </a>
      </li>
    </ul>
    <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true">
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
    </div>
  </div>
</nav>