<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle"> Final Exam </h1>
      <span class="mainDescription" ng-bind="::view.exam.title"></span>
    </div>
  </div>

</section>
<div
  style="padding: 12px; border: 1px solid #ff6a00; background-color: #fff3e0; margin-bottom: 4px; border-radius: 6px;">
  ⚠️
  <strong>
    Visit the <a href="https://exam.aalas.net/" target="_blank">exam
      portal</a> to
    take the final exam. Here you can review the questions and practice answering them, but your
    responses will NOT be saved or graded.
  </strong><br />
  访问<a href="https://exam.aalas.net/" target="_blank">考试门户网站(exam.aalas.net)</a>参加考试。在这里您可以查看问题并练习回答，但您的回答将不会被保存或评分。

</div>
<div class="container-fullw bg-white">
  <div class="row margin-bottom-20">
    <div class="col-sm-12">
      <div class="panel panel-themed" ng-attr-id="{{'panel'+page.ordinal}}"
        ng-repeat="question in ::view.exam.questions">
        <div class="panel-heading themed" ng-switch on="question.type">

          <div class="text-small" ng-switch-when="2">{{($index +1) +' of '+view.exam.questions.length + ': Multiple
            Choice/Multiple Answer - Select all correct answers'}}</div>
          <div class="text-small" ng-switch-when="3">{{($index +1) + ' of ' +view.exam.questions.length+ ': True/False -
            select one answer'}}</div>
          <div class="text-small" ng-switch-when="4">{{($index +1) + ' of ' +view.exam.questions.length+ ': Short Answer
            - type your answer'}}</div>
          <div class="text-small" ng-switch-default>{{($index +1) + ' of ' +view.exam.questions.length+ ': Multiple
            Choice/Single Answer - Select one answer'}}</div>
        </div>


        <div class="panel-body text-dark" ng-switch on="question.type">
          <div class="stem" ng-bind-html="::question.content"></div>
          <div ng-if="question.image"><img ng-src="{{question.image}}"></div>
          <hr />
          <div ng-repeat="answer in question.answers">
            <div ng-switch-when="2" class="checkbox clip-check check-primary">
              <input type="checkbox" ng-change="view.saveMultipleAnswer(view.exam.id,question.id)"
                ng-model="answer.response" id="{{'checkbox'+answer.id}}" name="{{::question.id}}"
                value="{{::answer.id}}">

              <label class="text-dark" for="{{'checkbox'+answer.id}}" ng-bind-html="::answer.content">
              </label>
            </div>
            <div ng-switch-when="3" class="radio clip-radio radio-primary">
              <input type="radio" ng-change="view.saveAnswer(view.exam.id,question.id,answer.id)"
                ng-model="question.response" ng-attr-id="{{'radio'+answer.id}}" name="{{::question.id}}"
                value="{{::answer.id}}">

              <label class="text-dark" for="{{'radio'+answer.id}}" ng-bind-html="::answer.content">
              </label>
            </div>
            <div ng-switch-default class="radio clip-radio radio-primary">
              <input type="radio" ng-change="view.saveAnswer(view.exam.id,question.id,answer.id)"
                ng-model="question.response" ng-attr-id="{{'radio'+answer.id}}" name="{{::question.id}}"
                value="{{::answer.id}}">

              <label class="text-dark" for="{{'radio'+answer.id}}" ng-bind-html="::answer.content">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <span>
          Visit the <a href="https://exam.aalas.net/" target="_blank">exam portal</a> to take the final exam.
        </span>
      </div>
    </div>
  </div>
</div>